@using wedding_planner.Models
@model User

<div class="register">
  <form asp-action="Register" asp-controller="Home" class="form">
    <h4>Register</h4>
    <div class="form__row">
      <label asp-for="name" class="form__label">Name:</label>
      <input asp-for="name" class="form__input">
    </div>
    <div class="form__row">
      <label asp-for="email" class="form__label">Email:</label>
      <input asp-for="email" class="form__input">
    </div>
    <div class="form__row">
      <label asp-for="password" class="form__label">Password:</label>
      <input asp-for="password" class="form__input">
    </div>
    <div class="form__row">
      <label asp-for="confirm" class="form__label">Confirm:</label>
      <input asp-for="confirm" class="form__input">
    </div>
    <button>submit</button>
    <a href="/login">Already registered? Log in here!</a>
  </form>
  <div class="errors">
    <span asp-validation-for="name"></span>
    <span asp-validation-for="email"></span>
    <span asp-validation-for="password"></span>
    <span asp-validation-for="confirm"></span>
  </div>
</div>