@page
@model IndexModel
@{
    ViewData["Title"] = "Balls";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Balls</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>

    <h2 class="balls"></h2>

</body>
</html>