@{
    ViewData["Title"] = "Dashboard";
}
<h1>Welcome to Wedding Planner</h1>
<div class="dashboard__container">
    <partial name="_allWeddings" />
    <a 
        class="dashboard__btn"
        href="/create_wedding">New Wedding</a>
</div>