@model List<Wedding>
@{
    ViewData["Title"] = "Dashboard";
}
<h4 class="dashboard__title">all upcoming weddings</h4>
<div class="dashboard__container">
    <div class="dashboard__list">
    @{
        foreach(Wedding wedding in @Model)
        {
            <a href="/wedding/@wedding.wedding_id" class="dashboard__link">
                <div class="dashboard__row">
                    <div class="dashboard__wedders">
                        <p class="dashboard__item">@wedding.wedder_one & @wedding.wedder_two</p>
                    </div>
                    <p class="dashboard__item">@wedding.wedding_date.ToLongDateString()</p>
                    <p class="dashboard__item">Guest #</p>
                    <p class="dashboard__item">Actions</p>
                </div>
            </a>
        }
    }
    </div>
    <a 
        class="dashboard__btn"
        href="/new">Create New Wedding</a>
</div>