* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    padding: 3rem;
    font-size: 2rem;
}

.form {
    width: 50%;
}

.form__row {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.form__textarea {
    width: 100%;
}