@model List<Wedding>
@{
    ViewData["Title"] = "Dashboard";
}
<div class="dashboard__container">
    <h4 class="dashboard__title">all upcoming weddings</h4>
    <a 
        class="dashboard__btn"
        href="/new">Create New Wedding</a>
    <div class="dashboard__list">
        <div class="dashboard__row">
            <div class="dashobard__wedders">
                <div class="dashboard__item">Names</div>
            </div>
            <div class="dashboard__item">
                <span class="dashboard__date">Date</span>
                <span class="dashboard__guest">Guests</span>
                <span class="dashboard__actions">Actions</span>
            </div>
        </div>
    @{
        foreach(Wedding wedding in @Model)
        {
                <div class="dashboard__row">
                    <div class="dashboard__wedders">
                        <div class="dashboard__item">@wedding.wedder_one & @wedding.wedder_two</div>
                    </div>
                    <div class="dashboard__date">@wedding.wedding_date.ToLongDateString()</div>
                    <div class="dashboard__guest">0</div>
                    <div class="dashboard__actions">
                        <a href="/rsvp" class="dashboard__link">RSVP</a>
                        <a href="/wedding/@wedding.wedding_id" class="dashboard__link">View</a>
                        <a href="/delete/wedding/@wedding.wedding_id" class="dashboard__link">delete</a>
                    </div>
                </div>
        }
    }
    </div>
</div>