:root {
  --white: #eee;
  --black: #333;
  --purple: #6C5B7B;
  --light-purple: #8e7c9e;
  --blue: #355C7D; 
  --peach: #F8BCA6;
  --pink: #F68381;
  --light-pink: #f8a2a1;

  --transition: var(--transition);
  --boxshadow: 0 1rem 2rem rgba(0,0,0,.1);
  --bradius: 5px;
  --gradient: linear-gradient(
    to bottom right,
    var(--purple) 0%,
    var(--purple) 25%,
    var(--light-purple) 25%,
    var(--light-purple) 75%,
    var(--purple) 75%
  );
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  padding: 3rem;
  background-color: var(--peach);
}
.body__stitch {
  min-height: 100vh;
  padding: 4rem 9rem;
  position: relative;
  border: 8px dashed var(--light-purple);
  border-radius: var(--bradius);
}
h1 {
  text-align: center;
}
.header {
  padding: 2rem;
  color: var(--purple);
  background-image: linear-gradient(
    to bottom right, 
      var(--pink), 
      var(--light-pink)
    );
  border-radius: var(--bradius);
  margin-top: 3rem;
  margin-bottom: 9rem;
  position: relative;
  box-shadow: var(--boxshadow);
}
.header__stitch {
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px dashed var(--white);
  border-radius: var(--bradius);
}
.header__title {
  font-size: 4rem;
  text-transform: uppercase;
  width: 40%;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.nav__link {
  min-width: 20%;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: var(--purple);
  color: var(--white);
  transition: var(--transition);
}

.nav__link:hover {
  box-shadow: var(--boxshadow);
  background-color: var(--blue);
}

.u-container {
  box-sizing: border-box;
  background-color: var(--light-purple);
  background-image: var(--gradient);
  padding: 3rem;
  min-width: 50%;
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--boxshadow);
  border-radius: var(--bradius);
}
.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  font-size: 2.5rem;
}

.form > * {
  margin: 1.5rem 1rem;
}
.form h4 {
  box-sizing: border-box;
  background-color: transparent;
  padding: 1.5rem 4rem;
  /* border: 1px solid var(--white); */
  color: var(--white);
  border-radius: var(--bradius);
  width: 62%;
  font-family: 'Playfair Display', serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  background-color: var(--purple);
  font-size: 3rem;
  margin-bottom: 4rem;
  margin-right: auto;
}
.form button {
  margin-left: auto;
  width: 60%;
  padding: 1rem 3rem;
  background-color: var(--purple);
  /* border: 1px solid var(--white); */
  border: none;
  border-radius: var(--bradius);
  color: var(--white);
  text-align: left;
  text-transform: uppercase;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;
  transition: var(--transition);
}
button:hover {
  cursor: pointer;
  background-color: var(--blue);
  box-shadow: var(--boxshadow);
}

.form a {
  color: var(--white);
  text-decoration: none;
}
.form a:hover {
  color: var(--pink);
  border-bottom: 1px dashed var(--pink);
}

.form__row {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.form__label {
  min-width: 40%;
}
.form__input {
  border-radius: 10px;
  border: none;
  padding: 1rem;
}

.errors {
  color: red;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.all-users {
  border-top: 1px solid var(--black);
  margin-top: 3rem;
  text-align: center;
}
.all-users__row {
  margin: 1rem;
}

.dashboard__container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  /* margin-bottom: 3rem; */
  background-color: var(--purple);
  /* background-image: var(--gradient); */
  padding: 1rem 3rem;
  padding-bottom: 8rem;
  border-radius: var(--bradius);
}
.dashboard__title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--white);
}
.dashboard__list {
  box-sizing: border-box;
  background-color: var(--light-purple);
  min-height: 20rem;
  padding: 3rem;
  box-shadow: var(--boxshadow);
  margin-top: 1.5rem;
}
.dashboard__wedders {
  display: inline-block;
  min-width: 40%;
}
.dashboard__item {
  width: 40%;
  display: flex;
  justify-content: space-between !important;
}
.dashboard__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--black);
}
.dashboard__link {
  text-decoration: none;
  color: #000;
  outline: none;
}
.dashboard__link:hover {
  color: var(--white);
}
.dashboard__link:active {
  outline: none;
}

.dashboard__btn {
  box-sizing: border-box;
  text-decoration: none;
  padding: 1rem 3rem;
  background-color: var(--purple);
  color: var(--white);
  text-align: right;
  transition: var(--transition);
  border-radius: var(--bradius);
}

.dashboard__btn:hover {
  background-color: var(--blue);
  box-shadow: var(--boxshadow);
}

.new-wedding {
  padding: 3rem;
  width: 30%;
  margin: 0 auto;
  margin-top: 3rem;
  border: 1px solid var(--black);
  box-shadow: var(--boxshadow);
}
