@model CategoriesPage

<a href="/products">Products</a> | <a href="/categories">Categories</a>
<div class="wrapper">
  <div class="container">
    <h3>New Category</h3>
    <partial name="_newCategory" model="@Model.NewCategory" />
  </div>
  <div class="container">
    <h3>Existing Categories</h3>
    @{
      foreach(Category c in @Model.ExistingCategories)
      {
        <div>
          <a href="/categories/@c.CategoryId">@c.Name</a>
        </div>
      }
    }
  </div>
</div>
