@model ProductsPage

<a href="/products">Products</a> | <a href="/categories">Categories</a>
<div class="wrapper">
  <div class="container">
    <h3>New Product</h3>
    <partial name="_newProduct" model="@Model.NewProduct" />
  </div>
  <div class="container">
    <h3>Existing Products</h3>
    @{
      foreach(Product p in @Model.ExistingProducts)
      {
        <a href="/products/@p.ProductId">@p.Name</a>
      }
    }
  </div>
</div>
