@{
<<<<<<< HEAD
  foreach (Quote quote in ViewBag.AllQuotes)
=======
  foreach (Quote quote in QuoteAPI.AllQuotes)
>>>>>>> bb009d3f11d22bb6b5af7bc70488863918a9b90e
  {
    <p>@quote.Author</p>
    <p>@quote.Content</p>
  }
}